 /* .background {
  
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: beige;
  } */

#mainBackground {
    position: relative;
}

#userInput {
    position: absolute;
    top: 100px;
    
}

.lead2 {
     font-size: 30px; 
    text-align: center;
    font-style: italic;
      
}

#backImg{
    /* margin-top: 0; */
      height: 600px;
      width: 100%;
  }


  .masthead {
    text-align: center;
    position: relative;
    z-index: 300;
    background: #fff;
}

.middlePage {
    margin-left: 490px;
    width: 32%
    
}

#waetherWidget{
  
}
